.App > header {
  -webkit-box-shadow: 0 1px 1px 1px #ddd;
          box-shadow: 0 1px 1px 1px #ddd;
}

.App > header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin: 0 auto 0 auto;
  max-width: 90%;
  font-size: 12pt;
}

.App > header nav .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.App > header nav .left-block .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 100%;
  padding: 0.25rem;
  margin-right: 10px;
}

.App > header nav .left-block .logo img {
  max-width: 100%;
  max-height: 100%;
}

.App > header nav .left-block .menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.App > header nav ul:not(.user-panel) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.App > header nav ul:not(.user-panel) li.item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.App > header nav ul:not(.user-panel) li.item > a, .App > header nav ul:not(.user-panel) li.item > button.user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.App > header nav ul:not(.user-panel) li.item > a:hover, .App > header nav ul:not(.user-panel) li.item > button.user-button:hover {
  background-color: #ddd;
  border-bottom-color: #5CB9FF;
}

.App > header nav ul:not(.user-panel) li.item > a:active, .App > header nav ul:not(.user-panel) li.item > button.user-button:active {
  background-color: #999;
  border-bottom-color: #F5AD42;
}

.App > header nav ul:not(.user-panel) li.item > a.active, .App > header nav ul:not(.user-panel) li.item > button.user-button.active {
  background-color: #eee;
  border-bottom-color: #F5AD42;
}

.App > header nav ul:not(.user-panel) li.item button.user-button {
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 3px solid transparent;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.App > header nav .user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 999;
}

.App > header nav .user-panel li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.App > header nav .user-panel li > a, .App > header nav .user-panel li > button {
  width: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0 !important;
  padding: 1rem;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.App > header nav .user-panel li > a:hover, .App > header nav .user-panel li > button:hover {
  background-color: #ddd;
}

.App > header nav .user-panel li > a:active, .App > header nav .user-panel li > button:active {
  background-color: #999;
}

.App > header nav .user-panel li > a.active, .App > header nav .user-panel li > button.active {
  background-color: #eee;
}

.App > header nav .user-panel li > a:focus, .App > header nav .user-panel li > button:focus {
  border: none;
  outline: none;
}

.App > header nav .user-menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.dropdown-activator {
  background: none;
  font-size: large;
}

@media all and (max-width: 768px) {
  .menu-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 90%;
    background-color: white;
    top: 5rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  .menu-items-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-items-container ul li > a, .menu-items-container ul button.user-button {
    width: 100%;
  }
  .hidden-mobile {
    display: none;
  }
  li.item > a, button.user-button {
    padding: 1rem;
  }
  .user-panel {
    width: 100%;
    margin-top: 4rem;
  }
}

@media all and (min-width: 768px) {
  .menu-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: inherit;
  }
  .dropdown-activator {
    display: none;
  }
  li.item > a, button.user-button {
    padding: 0 1rem 0 1rem;
  }
  .user-panel {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    margin-top: 4.5rem;
  }
}

.swap-list, .swap-members-list, .swap-suggestions-list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swap-item {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  display: table;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.swap-item > div {
  display: table-row;
}

.swap-item > div > div {
  display: table-cell;
}

.swap-item .icon {
  padding: 0 5px 0px 5px;
  width: 15px;
}

.swap-item:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.swap-list li {
  cursor: pointer;
}

.swap-list li .top {
  font-size: 1.5rem;
}

.swap-list li .bottom {
  font-size: 1.25rem;
}

.swap-list li:active {
  background-color: #ddd;
}

.swap-members-list li {
  margin: 0.5rem 0;
}

.swap-suggestions-list li {
  cursor: pointer;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 800px;
  line-height: 2;
}

form input[type=text], form input[type=password] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 5px;
  padding: 0.3rem;
}

form .input-label-oneline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

form .input-label-oneline input[type=text], form .input-label-oneline input[type=password] {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

form .input-label-oneline label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form textarea {
  width: 100%;
}

form .form-error {
  background-color: lightcoral;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  margin: 5px 0;
}

button {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0.3em;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #999;
}

button:focus {
  background-color: #bbb;
}

@media all and (min-width: 768px) {
  .group-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: inherit;
  }
  .group-container .group-main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .group-container .group-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    padding-right: 1rem;
  }
}

.heading-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 25%;
}

.heading-row button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
}

.heading-row button:hover {
  background-color: #ddd;
}

.heading-row button:active {
  background-color: #999;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-header h1 {
  margin: 0;
}

.invisible-button {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.invisible-button:hover {
  background-color: #ddd;
}

.invisible-button:active {
  background-color: #999;
}

.profile-form {
  padding: 1em 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

:root {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 2rem auto 0 auto;
  max-width: 90%;
  z-index: -1;
}

html, body, #root, .App {
  height: 100%;
}

.ReactModalPortal {
  z-index: 2;
}
/*# sourceMappingURL=App.css.map */