header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  margin: 0 auto 0 auto;
  max-width: 90%;
  font-size: 12pt;
}

header nav .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

header nav .left-block .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 100%;
  padding: 0.25rem;
  margin-right: 10px;
}

header nav .left-block .logo img {
  max-width: 100%;
  max-height: 100%;
}

header nav .left-block .menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header nav ul:not(.user-panel) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header nav ul:not(.user-panel) li.item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header nav ul:not(.user-panel) li.item > a, header nav ul:not(.user-panel) li.item button.user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  padding: 0 1rem 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav ul:not(.user-panel) li.item > a:hover, header nav ul:not(.user-panel) li.item button.user-button:hover {
  background-color: #ddd;
}

header nav ul:not(.user-panel) li.item > a:active, header nav ul:not(.user-panel) li.item button.user-button:active {
  background-color: #999;
}

header nav ul:not(.user-panel) li.item > a.active, header nav ul:not(.user-panel) li.item button.user-button.active {
  background-color: #eee;
}

header nav ul:not(.user-panel) li.item button.user-button {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

header nav ul:not(.user-panel) li.item button.user-button:focus {
  border: none;
  outline: none;
}

header nav .user-panel {
  display: block;
  position: absolute;
  margin: 4.5rem 0 0 0;
  padding-top: 1rem;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

header nav .user-panel li {
  width: 100%;
}

header nav .user-panel li > a, header nav .user-panel li button {
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  width: 100%;
  text-decoration: none;
  color: black;
}

header nav .user-panel li > a:hover, header nav .user-panel li button:hover {
  background-color: #ddd;
}

header nav .user-panel li > a:active, header nav .user-panel li button:active {
  background-color: #999;
}

header nav .user-panel li > a.active, header nav .user-panel li button.active {
  background-color: #eee;
}

header nav .user-panel li > a:focus, header nav .user-panel li button:focus {
  border: none;
  outline: none;
}

header nav .user-menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.swap-list, .swap-members-list {
  list-style-type: none;
  padding-left: 0;
}

.swap-list li, .swap-members-list li {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  display: table;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swap-list li > div, .swap-members-list li > div {
  display: table-row;
}

.swap-list li > div > div, .swap-members-list li > div > div {
  display: table-cell;
}

.swap-list li .icon, .swap-members-list li .icon {
  padding: 0 5px 0px 5px;
  width: 15px;
}

.swap-list li:hover, .swap-members-list li:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.swap-list li .top {
  font-size: 1.5rem;
}

.swap-list li .bottom {
  font-size: 1.25rem;
}

.swap-members-list li {
  margin: 0.5rem 0;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 800px;
  line-height: 2;
}

form input[type=text], form input[type=password] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 5px;
  padding: 0.3rem;
}

form .input-label-oneline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

form .input-label-oneline input[type=text], form .input-label-oneline input[type=password] {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

form .input-label-oneline label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form textarea {
  width: 100%;
}

form .form-error {
  background-color: lightcoral;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  margin: 5px 0;
}

button {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0.3em;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #999;
}

button:focus {
  background-color: #bbb;
}

.group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group-container .group-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.group-container .group-sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  padding-right: 1rem;
}

.heading-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 25%;
}

.heading-row button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
}

.heading-row button:hover {
  background-color: #ddd;
}

.heading-row button:active {
  background-color: #999;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-header h1 {
  margin: 0;
}

.invisible-button {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.invisible-button:hover {
  background-color: #ddd;
}

.invisible-button:active {
  background-color: #999;
}

.profile-form {
  padding: 1em 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

:root {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 2rem auto 0 auto;
  max-width: 90%;
}
/*# sourceMappingURL=App.css.map */